.table-container {
  font-family: roboto;
  font-size: 16px;
}

table {
  border-collapse: collapse;
  background-color: green;
}

th {
  font-size: 20px;
  font-weight: bold;
}

td,
th {
  border: 1px solid #000;
  padding: 8px;
}

.product-img {
  height: 100px;
  width: 100px;
}

.pagination-container {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-container button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
